---
  import Navigation from "./Navigation.astro";
---

  <header>
    <nav class="nav-links">
      <Navigation url = "/" text = "Home"/>
      <Navigation url = "/blog" text = "Blog"/>
      <Navigation url = "/about" text = "About"/>
    </nav>
  </header>